.nav-link-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.nav-link-img {
    width: 20px;
    margin-right: 10px;
}

.nav-collapsed {
    text-align: center;
  }

nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
    background-color: #121212;
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
}